
html {
  height: 100%;
}
body {
  min-height: 100%;
}
.container {
    font-family: at_Roboto-Light,sans-serif;
    min-height: 100%;
    width: 100%;
    background-color: #f0f1f5;
    background-image: url("./background-sso3.jpg");
    background-repeat: no-repeat;
    float:left;
}

.container form {
    width: 24rem;
    float: right;
    margin-right: 230px;
    margin-top: 5rem;
   
}
.container h3 {
    display: block;
    font-family: at_Roboto-Light,sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: floralwhite;
    width: 100%;
    margin: 2rem auto;
}
.container div {
    width: inherit;
    margin-bottom: 1.5rem;
}

.container input {
    padding: 0 0.5rem;
    width: inherit;
    height: 2rem;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.container input[type="submit"] {
    margin-bottom: 0.75rem;
    background: #faa627;
    cursor: pointer;
}

.container input[type="reset"] {
    background: #ccc;
    cursor: pointer;
}

.container p {
    margin-top: 0.5rem;
    color: orangered;
}
.successMessage{
    float: right;
    margin-right: 450px;
    margin-top: 15rem;
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
}



